.m {
    border: 1px solid rgba(128, 255, 0, 0.521);
}

.m-t {
    border: 1px solid rgba(212, 224, 199, 0);
}

html {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(63, 0, 0, 0.233)), url(../img/wall-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    /*
     padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    */
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.hero {
    height: 100%;
    width: 100%;
}

.hero-head {
    position: relative;
    overflow: hidden;
    height: 55px;
    width: 80%;
    opacity: 0.9;
    background-color: #f7e018;
    backdrop-filter: blur(0px);
    margin-bottom: 50px;
    border-radius: 40px 10px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.hero-head span {
    position: relative;
    display: block;
    background: url(../img/brillos/brillog.png) no-repeat;
    background-position: -300px 0px;
    margin-top: 0px;
    height: 1033px;
    width: 1320px;
}

.hero-head:hover span {
    background-position: 1000px 0px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 2s;
    transition-property: all;
    transition-duration: 2s;
}

.titulo {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    opacity: 1 !important;
    text-align: center;
}

.titulo h1 {
    font-size: 3em;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold !important;
    color: white;
    font-weight: 600;
    line-height: 1.125;
    text-shadow: 0 0 30px #fff;
}

.hero-body {
    height: 100vh;
    width: 100%;
    padding: 0px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(63, 0, 0, 0.233)), url(../img/wall-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.columns {
    padding: 0px;
    margin: 0px;
    height: auto;
    width: auto;
}

.column {
    padding: 0px;
    margin: 0px;
}

.hero-section {
    width: 100%;
}

.block1 {
    margin-top: 50px;
}

.block1 .columns {
    width: 100%;
}

.block1 img {
    width: 100px;
    height: 100px;
    margin-top: 25%;
}

.block1 .column {}

.r-cuadros {
    height: auto;
    background-color: rgba(255, 255, 255, 0.096);
    width: 90%;
    margin: 0 auto;
    backdrop-filter: blur(0px);
}

.r-cuadros:hover {
    background-color: rgba(0, 102, 185, 0.404);
    backdrop-filter: blur(4px);
    transition: backdrop-filter 1s ease;
    transition: background-color 1s ease;
    box-shadow: 1px white;
}

.r-cuadros .columns {
    height: auto;
    width: 100%;
}

.r-cuadros .columns .column {
    height: 200px;
}

.nota {
    background-color: rgba(0, 0, 0, 0.753);
    height: 200px !important;
    margin-bottom: 0px !important;
}

.nota div {
    position: relative;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold !important;
}

.nota div h1 {
    text-align: center;
    align-content: center;
    margin-top: 5px;
    font-size: 20px;
}

.nota div p {
    margin-left: 5px;
}

textarea {
    background-color: black;
    color: white;
    width: 50%;
    height: 400px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px yellowgreen;
}

textarea:hover {
    overflow: scroll;
}

/* The element to apply the animation to */

/*Móviles en horizontal o tablets en vertical*/

@media (max-width: 768px) {
    .hero-body {
        height: 100%;
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(63, 0, 0, 0.233)), url(../img/wall-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .block1 img {
        width: 100px;
        height: 100px;
        margin-top: 50px;
    }
    textarea {
        width: 98%;
        height: 400px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 1px yellowgreen;
    }
}

/*/ Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- /*/

@media (max-width: 1024px) {
    .block1 .columns {
        margin-bottom: 50px !important;
    }
    .nota {
        background-color: rgba(0, 0, 0, 0.753);
        height: 70px !important;
        margin-bottom: 0px !important;
    }
}

/*/ Escritorios muy anchos
   ------------------------------------------------------------------------- */

@media (max-width: 1200px) {}

@media (max-width: 1300px) {}

@media(max-width:370px) {}